.adminlinks {
	background-color: rgb(40, 20, 0, 0.85);
	position:fixed;
	z-index:99;
	width:300px;
	border-bottom: solid 2px white;
	border-radius: 0 0 15px 15px;
	left:50%;
	margin-left:-150px;
	height:22px;
	color: white;
	font-family: "red_rosebold";
	font-size: 15px;
	text-align:center;
	top:0; bottom:0;
}

.adminlinks a { color:white; }
