.videoc {
	display:none;
}

.iup {
	width:18em;
}

.previewimgs {
	border: solid 2px black;
	width: 296px;
	height: 296px;
	object-fit: cover;
}

.previewfimgs {
	border: solid 2px black;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.form-element {
       margin-bottom: 8px;	
}

.emptyForm {
	border: solid 1px black;
	width: 40px;
	font-size:14px;
	border-radius:5px;
	margin:0;
}

.fileDelButton {
	border:solid 1px #220000;
	border-radius:5px;
	color:white;
	font-size:14px;
	width:110px;
	background-color: #552200;
	white-space: nowrap;
}

.fileDelButton:hover {
	cursor:pointer;
	background-color: #220000;
}

.fileUndoButton {
	border:solid 1px #000022;
	border-radius:5px;
	color:white;
	font-size:14px;
	width:90px;
	background-color: #002255;
	white-space: nowrap;
}

.fileUndoButton:hover {
	cursor:pointer;
	background-color: #000022;
}

.prevImgParent {
	display:flex;
	flex-wrap: no-wrap;
	justify-content: center;
	width:100%;
	border:2px solid #114466;
	background-color: #EEF8FF;
	height:180px;
}

.childPrevDiv {
	background-color:#114466;
	width:137px;
	border:2px solid #002244;
	position:relative;
	margin:3px;
}

.childOverlayDiv {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:31;
	background-color:rgba(200,200,200,0.66);
}

.childImgButtonDiv {
	position:absolute;
	width:100%;
	text-align:center;
	top:2px;
	z-index:32;
}

.childImgDiv {
	position:absolute;
	z-index:30;
	width:100%;
	top:25px;
	text-align:center;
}

.childImg {
	border:1px solid black;
	max-width:128px;
	max-height:128px;
	width: auto;
	height: auto;
}

.imgParent-1 {
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.childBox-1 {
	width: 282px;
	height:205px;
	margin:3px;
	padding: 4px;
	border: 2px solid #114466;
	position:relative;
	z-index:20;
}

.filec {
	margin:0;
}

.fileFlex {
	display:flex;
	background-color: rgba(0,0,0,0.2);
	border: 2px solid black;
	flex-flow: column nowrap;
}

.fileChild {
	margin-left:40px;
	margin-top:5px;
	margin-bottom:5px;
}

.crossThru {
	text-decoration: line-through;
	color: #553333;
}

.noShow {
	display:none;
}

.idsc {
	width:18em;
	background-color:#EEF8FF;
}
/* "show" is the display:block */
