.videoc {
	display:none;
}

.iup {
	width:18em;
}

.previewimgs {
	border: solid 2px black;
	width: 296px;
	height: 296px;
	object-fit: cover;
}

.previewfimgs {
	border: solid 2px black;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.form-element {
       margin-bottom: 8px;	
}

.emptyForm {
	border: solid 1px black;
	width: 40px;
	font-size:14px;
	border-radius:5px;
	margin:0;
}

.filec {
	margin:0;
}

.idsc {
	width:20em;
}
/* "show" is the display:block */
