.contentDiv {
	grid-template-areas:
		"c c"
		"d e"
		"f f";
}

.showFalse {
	background-color: rgba(70,70,70,0.85);
	opacity:0.8;
}

.titleFalse {
	background-color: rgba(50,30,0,1);
}

.titleFalse h3 {
	display:inline !important;
}

.editDiv {
	grid-area: f;
	background-color: red;
	color: white;
	font-family: "red_rosebold";
	text-align:center;
}

.editDiv a {
	color: white;
}
