{% extends "layout.html" %}
{% block head %}
        <link rel="stylesheet"
              href="{{ url_for('edit_project.static', filename='css/proj_management.css') }}" />
{% endblock %}
{% block content %}
        <div id="content">
                <form method="post"
                      action="editing.php"
                      name="edit-form"
                      id="editForm_id"
                      runat="server"
                      enctype="multipart/form-data">
                        <div class="form-element">
                                <label>Title</label>
                                <input maxlength="80"
                                       type="text"
                                       name="title"
                                       value="{{ project.title }}"
                                       required />
                        </div>
                        <div class="form-element">
                                <label>Date</label>
                                <input type="date" name="date" value="{{ project.date }}" required />
                        </div>
                        <div class="form-element">
                                <label>Creators</label>
                                <input maxlength="80"
                                       type="text"
                                       name="creator"
                                       value="{{ project.creator }}"
                                       required />
                        </div>
                        <div class="form-element">
                                <label>Youtube link</label>
                                <input maxlength="80" type="text" value="{{ project.ylink }}" name="ylink" />
                                <br />
                                <span class="tab"><i>Siphon disp pic from youtube?</i></span>
                                <select id="siphonYoutube" name="siphonYoutube">
                                        <option value="0" selected>No</option>
                                        <option value="1">Yes</option>
                                </select>
                        </div>
                        <div class="form-element">
                                <label>Image preview upload</label>
                                <br />
                                <span class="tab">
                                        <input type="file"
                                               class="filec"
                                               id="imgfileid"
                                               name="dispimgfile"
                                               multiple="multiple"
                                               accept="image/*" />
                                        <button id="emptyDispImg_id" class="emptyForm">&#10062;</button>
                                </span>
                                <br />
                                <div id="preview">
                                        <span class="tab">
                                                <img id="previewimg"
                                                     alt="Placeholder"
                                                     src="{{ url_for('edit_project.static', filename='img/transspec.png') }}"
                                                     class="previewimgs" />
                                        </span>
                                </div>
                        </div>
                        <!-- From the edit.php, seems to be some file stuff going on around lines 80
that will likely need to be implemented here -->
                        <div class="form-element projectc" id="fileupdiv">
                                <label>Project files to upload</label>
                                <div class="fileFlex">
                                        <div class="fileChild" id="file1OccDiv_id">
                                                <button class="fileDelButton" id="fileDelButton1_id">Delete file &#10062;</button>
                                                <label>File 1 uploaded</label>
                                                '.$oLinkRn1.'
                                                <button class="fileUndoButton noShow" id="fileUndoButton1_id">Undo</button>
                                        </div>
                                        <div class="fileChild" id="file1UpDiv_id">
                                                <label>File 1 description</label>
                                                <input type="text" name="filedesc_1" />
                                                <input type="file"
                                                       id="fileUp_id_1"
                                                       class="filec"
                                                       name="file_1"
                                                       multiple="multiple" />
                                                <button id="emptyFile_id_1" class="emptyForm">&#10062;</button>
                                        </div>
                                        <div class="fileChild" id="file2OccDiv_id">
                                                <button class="fileDelButton" id="fileDelButton2_id">Delete file &#10062;</button>
                                                <label>File 2 uploaded</label>
                                                '.$oLinkRn2.'
                                                <button class="fileUndoButton noShow" id="fileUndoButton2_id">Undo</button>
                                        </div>
                                        <div class="fileChild" id="file2UpDiv_id">
                                                <label>File 2 description</label>
                                                <input type="text" name="filedesc_2" />
                                                <input type="file"
                                                       id="fileUp_id_2"
                                                       class="filec"
                                                       name="file_2"
                                                       multiple="multiple" />
                                                <button id="emptyFile_id_2" class="emptyForm">&#10062;</button>
                                        </div>
                                        <div class="fileChild" id="file3OccDiv_id">
                                                <button class="fileDelButton" id="fileDelButton3_id">Delete file &#10062;</button>
                                                <label>File 3 uploaded</label>
                                                '.$oLinkRn3.'
                                                <button class="fileUndoButton noShow" id="fileUndoButton3_id">Undo</button>
                                        </div>
                                        <div class="fileChild" id="file3UpDiv_id">
                                                <label>File 3 description</label>
                                                <input type="text" name="filedesc_3" />
                                                <input type="file"
                                                       id="fileUp_id_3"
                                                       class="filec"
                                                       name="file_3"
                                                       multiple="multiple" />
                                                <button id="emptyFile_id_3" class="emptyForm">&#10062;</button>
                                        </div>
                                </div>
                        </div>
                        <br />
                        <div class="form-element projectc" id="imagesupdiv">
                                <label>Image files to upload</label>
                                {% if project.imgFilesUploaded %}
                                        <div class="prevImgParent">
                                                {% for i in range(1, project.imgFilesUploaded+1) %}
                                                        <div class="childPrevDiv" id="childBoxOverlay{{ i }}_id">
                                                                <div class="childImgButtonDiv" id="childImgDelDiv{{ i }}_id">
                                                                        <button class="fileDelButton" id="childDelButton{{ i }}_id">Delete img &#10062;</button>
                                                                </div>
                                                                <div class="childImgButtonDiv" id="childImgUndoDiv{{ i }}_id">
                                                                        <button class="fileUndoButton noShow" id="childUndoButton{{ i }}_id">Undo</button>
                                                                </div>
                                                                <div class="childOverlayDiv noShow" id="childOverlayDiv{{ i }}_id"></div>
                                                                <div class="childImgDiv">
                                                                        <img class="childImg"
                                                                             src="./uploads/project/{{ project.id }}/img/small/{{ i }}.jpg">
                                                                </div>
                                                        </div>
                                                {% endfor %}
                                        </div>
                                {% endif %}
                                <div class="imgParent-1">
                                        {% for i in range(1, 7) %}
                                                <div class="childBox-1" id="childImgBox{{ i }}_id">
                                                        {{ i }}:
                                                        <input type="file"
                                                               class="iup filec"
                                                               id="image{{ i }}"
                                                               name="fileimage[]"
                                                               multiple="multiple"
                                                               accept="image/*">
                                                        <br>
                                                        <img id="preview{{ i }}"
                                                             alt="Placeholder"
                                                             src="{{ url_for('edit_project.static', filename='img/transspec.png') }}"
                                                             class="previewfimgs">
                                                        <span style="line-height: 50px; vertical-align:top">
                                                                <button id="emptyImage_id_{{ i }}" class="emptyForm">&#10062;</button>
                                                        </span>
                                                        <br>
                                                        <input maxlength="144" type="text" name="imgdesc[]" class="idsc" width="20" />
                                                </div>
                                        {% endfor %}
                                </div>
                                <div class="form-element">
                                        <label>Description</label>
                                        <br>
                                        <span class="tab"><textarea rows="12" cols="110" name="description">{{ project.description | safe }}</textarea></span>
                                </div>
                                <div class="form-element projectc" id="plangdiv">
                                        <br>
                                        <label>Programming Languages</label>
                                        <input maxlength="80"
                                               type="text"
                                               name="planguage"
                                               value="{{ project.planguage }}" />
                                </div>
                                <div class="form-element noShow" id="hiddenProjValues_id">
                                        <input type="text" id="fileDelete_1_id" name="fileDelete_1" value="0">
                                        <br>
                                        <input type="text" id="fileDelete_2_id" name="fileDelete_2" value="0">
                                        <br>
                                        <input type="text" id="fileDelete_3_id" name="fileDelete_3" value="0">
                                        <br>
                                        <input type="text" id="imgFileDelete_1_id" name="imgFileDelete_1" value="0">
                                        <br>
                                        <input type="text" id="imgFileDelete_2_id" name="imgFileDelete_2" value="0">
                                        <br>
                                        <input type="text" id="imgFileDelete_3_id" name="imgFileDelete_3" value="0">
                                        <br>
                                        <input type="text" id="imgFileDelete_4_id" name="imgFileDelete_4" value="0">
                                        <br>
                                        <input type="text" id="imgFileDelete_5_id" name="imgFileDelete_5" value="0">
                                        <br>
                                        <input type="text" id="imgFileDelete_6_id" name="imgFileDelete_6" value="0">
                                        <br>
                                </div>
                        </div>
                </form>
        </div>
        <script src="{{ url_for('edit_project.static', filename='js/edit_project.js') }}"></script>
{% endblock %}
