{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('upload_project.static', filename='css/proj_management.css') }}" />
{% endblock %}
{% block content %}
    <div id="content">
        {{ form.csrf_token }}
        <div class="form-element">
            <label>{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="form-element">
            <label>{{ form.date.label }}</label>
            {{ form.date }}
        </div>
        <div class="form-element">
            <label>{{ form.creator.label }}</label>
            {{ form.creator }}
        </div>
        <div class="form-element">
            <label>{{ form.youtube_link.label }}</label>
            {{ form.youtube_link }}
            <br>
            <span class="tab"><i>{{ form.siphon_youtube_link.label }}</i></span>
            {{ form.siphon_youtube_link }}
        </div>
        <div class="form-element">
            <br />
            <label>{{ form.display_image.label }}</label>
            <span class="tab">
                {{ form.display_image }} <!-- NOTE: : The ID for display image got changed here -->
                <button id="empty-disp-img" class="emptyform">☒</button>
            </span>
            <br />
            <div id="preview">
                <span class="tab">
                    <img id="preview-img"
                         alt="placeholder"
                         src="{{ url_for('upload_project.static', filename='img/transspec.png') }}"
                         class="preview-img" />
                </span>
            </div>
            <div class="form-element projectc" id="file-up-div">
                <label>Project files to upload</label>
                <div class="file-flex">
                    {% for file in form.files %}
                        <div class="file-child" id="file-child-div-{{ loop.index-1 }}">
                            <button class="file-delete-button" id="file-delete-button-{{ loop.index-1 }}">☒</button>
                            <!-- <label>File 1 uploaded</label>
                            <button class="fileUndoButton noShow" id="fileUndoButton1_id">Undo</button> -->
                            <label>{{ file.description.label }}</label>
                            {{ file.description }}
                            {{ file.file }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- NOTE: ID changed from fileupdiv -->
        </div>
    </div>
    <script src="{{ url_for('upload_project.static', filename='js/proj_management.js') }}"></script>
{% endblock %}
