#content {
  width: 100%;
  font-size: 0.867em;
}

@media screen and (max-device-width: 580px) {
  #content {
    font-size: 0.75em;
  }
}

/* Overall area which the section boxes are contained in  */
#section-container-div {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-div {
  display: grid;
  width: 100%;
  grid-template-rows: min-content 1fr;
  gap: 5px;
}

.section-div.left {
  grid-template-areas:
    "b c c"
    "a a d";
  grid-template-columns: min-content max-content 1fr;
}

.section-div.right {
  grid-template-areas:
    "b c c"
    "d d a";
  grid-template-columns: min-content 1fr max-content;
}

.section-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: a;
}

.section-div.left .section-image-div {
  justify-content: flex-end;
}

.section-div.right .section-image-div {
  justify-content: flex-start;
}

.section-title-div {
  white-space: nowrap;
  font-family: "red_rosebold";
  font-size: 1.2em;
  color: #024;
  grid-area: b;
}

.section-line-div {
  display: flex;
  align-items: center;
  width: 100%;
  grid-area: c;
}

.section-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 10, 30, 1), rgba(0, 10, 30, 0));
}

.section-content-div {
  display: block;
  grid-area: d;
}

.section-div.left .section-content-div {
  padding-left: 25px;
}

.section-div.right .section-content-div {
  padding-right: 25px;
}

/* End of about section template */

/* list styling  */
.nodot {
  list-style-type: circle;
  margin: 0;
  margin-bottom: 3px;
}

/* youtube video and image styling */
.entry-frame {
  width: 540px;
  height: 304px;
}

.entry-image {
  max-width: 400px;
  max-height: 400px;
}
