

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<title>Jimmy Bates' Hobbies</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% block head %}{% endblock head %}
</head>

<body>
	<div id="bodysolid"></div>
	<div id="bodygrad"></div>
	
	<div id="headerbody">
		<div id="headerborder">
			<div id="header">
			</div>
		</div>
		<div class="noSelect homeDirect" id="headertext">
      Jimmy Bates' Portfolio
		</div>
		<div class="homeDirect" id="headerimage1">
		</div>
		<div class="noSelect" id="subheader">
      Embedded, robotics, and software projects
		</div>
		<div id="subheaderline">
		</div>
		<div id="sitelinks">
			<a href="about.php">About Me</a> |
			<a href="projects">Projects & Plans</a> |
			<a href="resume.php" class="droplink">R&eacute;sum&eacute;</a> |
			<a href="#" class="contactwhole contact" title="Click for contact info" id="contactLinkId">Contact</a>
		</div>	
	</div>

	<div id="wholeScreen_id" class="wholeScreen"></div>

	<div id="contactDrop" class="contactwhole contactcard">
		<div id="contacthead" class="noSelect">Jimmy Bates</div>
		<div id="contactsubhead" class="noSelect">EE Student</div>
		<div id="contactfoot">
			<a href="tel:17789264285">+1 (778) 926-4285</a><br>
			<a href="mailto:jbates.productions@gmail.com">jbates.productions@gmail.com</a>
		</div>
	</div>
	
  <!-- content section -->
  {% block content %}{% endblock content %}

	<script type="module" src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
</body>

</html>
